.font_esport_event_16 {
  font-family: "Montserrat";
  font-size: 16px;
}

.font_esport_event_12 {
  font-family: "Montserrat";
  font-size: 12px;
}
@media (max-width: 690px) {
  .live-matches .slick-initialized .slick-slide {
    padding: 20px;
  }
  .image_wrapper__event img {
    width: auto;
    height: 50px;
  }
  .font_esport_event_12 {
    font-size: 10px;
  }
}
