.home-herosection .left_side .overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.72) 8.73%,
    rgba(0, 0, 0, 0) 62.42%,
    rgba(0, 0, 0, 0.4) 108.83%,
    rgba(0, 0, 0, 0.32) 108.84%
  );
}

.header_dark_img {
  background-image: url("../assets/images/header/bg-dark.png");
}

.header_light_img {
  background-image: url("../assets/images/header/bg-light.png");
}
