@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./overwrite.css";

/* // BRAND LIGHT COLOR'S */
:root {
  --whitecolor: white;
  --brandLightOpacity100: #e5e5e5;
  --brandLightOpacity90: rgba(229, 229, 229, 0.9);
  --brandLightOpacity70: rgba(229, 229, 229, 0.7);
  --brandLightOpacity50: rgba(229, 229, 229, 0.5);
  --brandLightOpacity10: rgba(229, 229, 229, 0.1);
  --brandLightOpacity5: rgba(229, 229, 229, 0.05);
  --bodycolor: #f8f8f8;
  /* // BRAND DARK COLORS */
  --brandDark1: #2e2a2b;
  --brandDark2: #221e1f;
  --brandDark3: #141313;
  --grayCardHover: rgba(34, 30, 31, 30%);
  --grayCard: rgba(34, 30, 31, 0.1);
  --darkscroll-border: rgba(229, 229, 229, 0.2);
  --lightscroll-border: rgba(34, 30, 31, 0.2);

  /* // BRAND COLOR */
  --brand: #ed4e50;

  /* // SEMANTIC COLORS */
  --successIndicator: #008d52;
  --errorIndicator: #d91618;
  scrollbar-width: thin !important;
}

/* // GLOBAL SECTION WIDTH */
body::-webkit-scrollbar {
  width: 8px !important;
  border-radius: 8px !important;
}

body::-webkit-scrollbar-track {
  border-radius: 8px !important;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid var(--darkscroll-border);
  border-radius: 8px !important;
}

.dark-custom--scroll--filer::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  border: 1px solid var(--darkscroll-border);
}

.light-custom--scroll--filer::-webkit-scrollbar-thumb {
  border: 1px solid var(--lightscroll-border);
  border-radius: 8px !important;
}

.global-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 80px;
}

.global-section-width-article {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}

.user-section-width {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 190px;
}

/* GLOBAL ARROW SETTING CLOSE */

/* ARROW'S STYLE START */

.dark-arrow.slick-slider button.slick-next,
.light-arrow.slick-slider button.slick-next {
  width: 124px;
  height: 40px;
  top: 50%;
}

.dark-arrow.slick-slider button.slick-prev,
.light-arrow.slick-slider button.slick-prev {
  width: 124px;
  height: 40px;
  top: 44%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 1;
}

.article-pages-slide .dark-arrow.slick-slider button.slick-prev,
.article-pages-slide .light-arrow.slick-slider button.slick-prev {
  top: 27%;
}

.live-matches .dark-arrow.slick-slider button.slick-prev,
.live-matches .light-arrow.slick-slider button.slick-prev {
  top: 38%;
}

.trending .dark-arrow.slick-slider button.slick-prev,
.trending .light-arrow.slick-slider button.slick-prev {
  top: -4px;
}

.trending .dark-arrow.slick-slider button.slick-next,
.trending .dark-arrow.slick-slider button.slick-prev {
  background: linear-gradient(270deg,
      var(--brandDark2) 15.85%,
      var(--brandDark2) 56.62%,
      rgba(34, 30, 31, 0) 83.6%);
}

.trending .light-arrow.slick-slider button.slick-next,
.trending .light-arrow.slick-slider button.slick-prev {
  background: linear-gradient(270deg,
      var(--bodycolor) 15.85%,
      var(--bodycolor) 56.62%,
      rgba(34, 30, 31, 0) 83.6%);
}

.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before,
.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  content: "";
  width: 40px;
  height: 40px;
  right: 7px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-arrow.slick-slider .slick-next:before,
.dark-arrow.slick-slider .slick-prev:before {
  background-color: var(--brandDark1);
}

.light-arrow.slick-slider .slick-next:before,
.light-arrow.slick-slider .slick-prev:before {
  background-color: var(--brandLightOpacity100);
}

.dark-arrow.slick-slider .slick-next:hover::before,
.dark-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity10);
}

.light-arrow.slick-slider .slick-next:hover::before,
.light-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--grayCard);
}

.exports-banner .dark-arrow.slick-slider .slick-next:hover::before,
.exports-banner .dark-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity10);
}

.exports-banner .light-arrow.slick-slider .slick-next:hover::before,
.exports-banner .light-arrow.slick-slider .slick-prev:hover::before {
  background-color: var(--brandLightOpacity90);
}

.dark-arrow.slick-slider .slick-next::after,
.light-arrow.slick-slider .slick-next::after,
.dark-arrow.slick-slider .slick-prev::after,
.light-arrow.slick-slider .slick-prev::after {
  width: 10px;
  display: block;
  height: 19px;
  position: absolute;
  right: 20px;
  z-index: 12;
  background-repeat: no-repeat;
  top: 12px;
}

.dark-arrow.slick-slider .slick-next::after,
.dark-arrow.slick-slider .slick-prev::after {
  content: "";
  background-image: url("../assets/trending-arrows/light-arrow.png");
}

.light-arrow.slick-slider .slick-next::after,
.light-arrow.slick-slider .slick-prev::after {
  content: "";
  background-image: url("../assets/trending-arrows/dark-arrow.png");

}

/* ARROW'S STYLE CLOSE */
.font-sec-saprate-18 {
  font-family: "Montserrat";
  font-size: 18px;
}

.f_it {
  font-style: italic;
}

.montserratfont {
  font-family: "Montserrat", sans-serif;
}

.robotoslub {
  font-family: "Roboto Slab", serif;
}

/*  GLOBALE SLICK SLIDER NEXT AND PREVIW BUTTON */

/* TRENDING COMPONENT  */
.trendingteass .slick-slide {
  width: auto !important;
  margin-right: 12px;
}

.light-arrow.slick-slider button.slick-disabled,
.dark-arrow.slick-slider button.slick-disabled {
  display: none !important;
}

.trendingteass .slick-next,
.trendingteass .slick-prev {
  top: 14px;
}

.slick-prev {
  left: -60px !important;
}

.slick-next {
  right: -65px !important;
}

.exports-banner .slick-prev {
  left: 24px !important;
}

.exports-banner .slick-next {
  right: 24px !important;
}

.exports-banner .slick-prev:before,
.exports-banner .slick-next:before {
  opacity: 1;
}

.trendingteass .slick-prev {
  left: -45px !important;
}

/* SCROLL */
.choiceselect .slectopitons::-webkit-scrollbar {
  width: 10px !important;
}

.choiceselect .slectopitons::-webkit-scrollbar-track {
  border-radius: 4px;
}

.choiceselect .slectopitons::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.article-trend-title,
.foryou-user-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-trend-title {
  -webkit-line-clamp: 3;
}

.bannerImageProfile button.slick-prev {
  top: 35% !important;
}

.displayImageProfile button.slick-prev {
  top: 18% !important;
}

.article-slider-dark .slick-current img {
  border: solid 2px #e5e5e5 !important;
}

.article-slider-light .slick-current img {
  border: solid 2px #221e1f !important;
}

@media screen and (max-width: 1430px) {

  .global-section-width-article,
  .user-section-width,
  .global-section-width {
    padding: 0 70px;
  }

  .trending .slick-next {
    right: 0 !important;
  }

  .hero-section-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
  }

  .news-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slick-prev {
    left: -40px !important;
  }

  .slick-next {
    right: -45px !important;
  }
}

@media screen and (max-width: 1280px) {
  .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .global-section-width-article,
  .user-section-width,
  .global-section-width {
    padding: 0 50px;
  }

  .esport-event-valorant-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1100px) {
  .about-user-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .aticle-title,
  .tech-feature-dec,
  .tech-feature-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .global-section-width-article,
  .global-section-width {
    padding: 0 40px;
  }

  .slick-prev {
    left: -25px !important;
  }

  .slick-next {
    right: -25px !important;
  }
}

@media screen and (max-width: 1024px) {

  .global-section-width-article,
  .user-section-width,
  .global-section-width {
    padding: 0 16px;
  }

  .feature-desc,
  .feature-title,
  .esport-event-valorant-title2,
  .hero-section-tech-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .feature-desc {
    -webkit-line-clamp: 3;
  }

  .slick-prev {
    left: 0px !important;
  }

  .slick-next {
    right: 0px !important;
  }
}

@media screen and (max-width: 639px) {

  .deail-tab-com-title,
  .review-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero-section-tech-title {
    -webkit-line-clamp: 2;
  }

  .tech-feature-dec {
    -webkit-line-clamp: 3;
  }

  .exports-banner .slick-prev {
    left: 10px !important;
  }

  .exports-banner .slick-next {
    right: 10px !important;
  }

  .trending .dark-arrow.slick-slider .slick-next::after,
  .trending .light-arrow.slick-slider .slick-next::after,
  .trending .dark-arrow.slick-slider .slick-prev::after,
  .trending .light-arrow.slick-slider .slick-prev::after,
  .trending .dark-arrow.slick-slider .slick-next:before,
  .trending .dark-arrow.slick-slider .slick-prev:before,
  .trending .light-arrow.slick-slider .slick-next:before,
  .trending .light-arrow.slick-slider .slick-prev:before {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .trending .dark-arrow.slick-slider button.slick-next,
  .trending .light-arrow.slick-slider button.slick-next {
    width: 20px;
    height: 40px;
  }

  .trending .dark-arrow.slick-slider button.slick-prev,
  .trending .light-arrow.slick-slider button.slick-prev {
    width: 80px;
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .esport-event-valorant-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }
}