/* /// Overwrite slick slider of esport section section/// */

.Esport-events .slick-initialized .slick-list,
.esorts_event_wrapper .slick-initialized .slick-list,
.bgmi_slider .slick-initialized .slick-list {
  margin: 0 -16px;
}

.Esport-events .slick-initialized .slick-slide>div,
.esorts_event_wrapper .slick-initialized .slick-slide>div,
.bgmi_slider .slick-initialized .slick-slide>div {
  padding: 0 16px;
}

/* /// Overwrite slick slider of live match section/// */
.live-matches .slick-initialized .slick-list {
  margin: 0 -16px;
}

.live-matches .slick-initialized .slick-slide>div {
  padding: 0 16px;
}

/* TECH DEAIL TAB */
.deailslider .slick-slider button.slick-disabled {
  display: none !important;
}

.exports-banner .slick-dots,
.deailslider .slick-dots {
  bottom: 24px !important;
}

.deailslider .slick-slide>div {
  height: 315px !important;
}

.exports-banner .slick-dots li,
.deailslider .slick-dots li {
  width: 10px !important;
  height: 10px !important;
}

.exports-banner .slick-dots li button,
.deailslider .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  padding: 0 !important;
  filter: none;
}

.exports-banner .slick-dots li button::before,
.deailslider .slick-dots li button:before {
  width: 10px;
  height: 10px;
  content: "";
  background-color: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  opacity: 1;
}

.exports-banner .slick-dots li.slick-active button:before,
.deailslider .slick-dots li.slick-active button:before {
  background-color: #e5e5e5 !important;
  opacity: 1;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  font: inherit;

  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 2px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.darkchecked input[type="checkbox"] {
  border: 2px solid var(--brandLightOpacity100);
}

.lightcheched input[type="checkbox"] {
  border: 2px solid var(--brandDark2);
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;

  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.darkchecked input[type="checkbox"]::before {
  background-image: url("../assets/images/general/checked.png");
  background-color: var(--brandLightOpacity100);
}

.lightcheched input[type="checkbox"]::before {
  background-image: url("../assets/images/general/light-checked.png");
  background-color: var(--brandDark2);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.slider-arrows button.react-multiple-carousel__arrow,
.exports-event button.react-multiple-carousel__arrow {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .deailslider .slick-slide>div {
    height: 300px !important;
  }
}

@media screen and (max-width: 639px) {
  .deailslider .slick-slide>div {
    height: 250px !important;
  }

  .overflow--text--fikter {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {

  .Esport-events .slick-initialized .slick-list {
    margin: 0 0;
  }

  .Esport-events .slick-slide {
    margin-left: -7px;
  }

  .Esport-events .slick-initialized .slick-slide>div {
    padding: 0 15px;
  }
}