
.trend_left {
  width: 12%;
}

.trend_right {
  width: 88%;
}

.font_styls {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-left: 12px;
}

.trendingteass .tags {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
   padding: 8px 12px;
  border-radius: 16px;
  text-align: center;
  width: auto !important;
}


@media screen and (max-width: 1024px) {
  .trending .trend_left {
    width: 15%;
  }

  .trending .trend_right {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
 
  .trending .trend_left {
    width: 15%;
  }
  .trend_left h4 {
    display: none;
  }

  .trend-right {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  
  .trendingteass .tags {
    font-size: 12px;
    line-height: 15px;
  }
}
