.font_text1 {
  font-family: "Montserrat";
  font-style: "normal";
}

.font_text2 {
  font-style: "medium";
  font-size: 16px;
}

@media (max-width: 639px) {
  .font_text2 {
    font-style: "medium";
    font-size: 10px;
  }
}
